
body {
  background-color: #b9ccd6;
  text-align: center;
  
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40%;
  width: 66%;
  text-align: center;
  right: 65px;
}

button {
  position: relative;
  right: 18px;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin-top: 180px;
   font-weight: 600;
  border: none;
  background-color: #080808;
  color: white;
  box-shadow: -1px 9px 8px -8px;
}

button:hover {
  background-color: beige;
  color: red;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  position: absolute;
  left: 395px;
  height: 67px;
  width: 358px;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
  place-items: center;
  display: flex;
  margin-top: 25px;
  box-shadow: -1px 9px 8px -8px;
  
}

.btn {
  height: 5%;
  width: 66%;
  position: relative;
  right: 36px;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: center;
  box-shadow: -1px 9px 8px -8px;
  font-family: monospace;
  
}

h2 {
  position: relative;
  right: 17px;
  margin-bottom: 100px;
  margin-top: 297px;
  color: white;
  text-shadow: 0px -2px 2px #b9ccd6;
}

.cnt {
  margin-top: 50px;
  margin-left: 352px;
  height: 250px;
  width: 450px;
  box-shadow: -2px 13px 24px -2px;
  border-radius: 12px;
  background-color: #080808;
}
